<style>

body {
    background-color: #0a0a1a;;
    margin: 0;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: `#ff003737;
    color: white;
    font-family:'Calibri', sans-serif;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 15px;             
    background: rgba(0, 0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

select {
  background: #c9a96e;
  border: 1px solid #30363d;
  color: rgb(0, 0, 0);
  padding: 0.8rem 1rem;
  border-radius: 10px;

}

.btn-submit {
  background: #c9a96e;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 130px;
  margin: auto;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #30363d;
}
.btn-back {
    position: absolute;
    top: 20px;
    left: 40px;
    text-decoration: none;
    font-size: 50px;
    color: #c9a96e;
}
    
</style>

<div><a href="/" class="btn-back">←</a></div>

<form action="/generate" method="POST">
  <label for="sign" style= "font-family: Calibri, sans-serif; font-size: 52px; font-weight: bold; color: #c9a96e; margin: auto; margin-bottom: 25px;">Оберіть знак</label>
  <select style= "font-family: Calibri, sans-serif; font-size: 20px;" name="sign" id="sign">
    <option value="Козоріг">Козоріг♑</option>
    <option value="Водолій">Водолій♒</option>
    <option value="Риби">Риби♓</option>
    <option value="Овен">Овен♈</option>
    <option value="Телець">Телець♉</option>
    <option value="Близнюки">Близнюки♊</option>
    <option value="Рак">Рак♋</option>
    <option value="Лев">Лев♌</option>
    <option value="Діва">Діва♍</option>
    <option value="Терези">Терези♎</option>
    <option value="Скорпіон">Скорпіон♏</option>
    <option value="Стрілець">Стрілець♐</option>
  </select>
  <select style="font-family: Calibri, sans-serif; font-size: 20px; margin-bottom: 8px" name="month" id="month">
    <option value="Січень">Cічень🎄</option>
    <option value="Лютий">Лютий🏔️</option>
    <option value="Березень">Березень🌱</option>
    <option value="Квітень">Квітень🌸</option>
    <option value="Травень">Травень🌿</option>
    <option value="Червень">Червень🌞</option>
    <option value="Липень">Липень🌊</option>
    <option value="Серпень">Серпень🍉</option>
    <option value="Вересень">Вересень☁️</option>
    <option value="Жовтень">Жовтень🎃</option>
    <option value="Листопад">Листопад🍂</option>
    <option value="Грудень">Грудень❄️</option>
  </select>
  
  <button type="submit" class="btn-submit">Згенерувати</button>
</form>
