<style>

body {
    margin: 0;
    min-height: 100vh;
    background: #0a0a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Calibri', sans-serif;
    }

.btn-generate {
    background: #c9a96e;
    color: #0a0a1a;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1.2rem;
    font-size: 1.3rem;
    border-radius: 10px;
    letter-spacing: 0.1em;
    margin: 30px;
  }

.text {
    border: 1px solid #c9a96e;
    color: #c9a96e;
    font-size: 2rem;
    border-radius: 10px;
    padding: 25px; 
    margin: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 800px;
    }

.btn-back {
    position: absolute;
    top: 20px;
    left: 40px;
    text-decoration: none;
    font-size: 50px;
    color: #c9a96e;
}

.btn-history {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #c9a96e;
    color: #0a0a1a;
    border: none;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    border-radius: 10px;
  }

</style>

<a href="/" class="btn-back">🏠︎</a>

<p class="text">{{text}}</p>

<a href="/generate" class="btn-generate">Згенерувати ще</a>
<a href="/db" class="btn-history">Гороскопи</a>